* {
  font-family :'Times New Roman', Times, serif;
}
body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-title-text {
  color :black;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}