* {
  font-family :'Times New Roman', Times, serif;
}

ul {
  list-style: none;
  display: flex;
}

.header {
   display: flex;
   flex-direction: row;
   padding: 3px;
   margin-top: 0px;
   text-align: center;
   justify-content:center;
   background-color:darkolivegreen;
   color: blanchedalmond;
}

li {
   padding-left : 2px;
   padding-right: 2px;
   font-size: 1.3rem;
}

.app-name {
   font-size: 2rem;
}
.page-title {
  text-align: center;
}

Card {
  justify-content: space-around;
}

.footer {
  background-color: rgb(104, 128, 62);
  color:blanchedalmond;
  margin-top: auto;
  padding: 1.5px;
}

.footer-text {
  font-size: 1rem;
}
