
ul {
   list-style: none;
   display: flex;
}

.header {
    display: flex;
    padding: 3px;
    margin-top: 0px;
    align-items: center;
    text-align: center;
    justify-content:center;
    background-color:darkolivegreen;
    color: blanchedalmond;
}

li {
    padding : 2px;
    font-size: 1.3rem;
}

.app-name {
    font-size: 2rem;
}